@keyframes downshot{
    0%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(15vh);
    }
    50%{
        transform: translateY(60vh);
    }
    75%{
        transform: translateY(105vh);
    }
    100%{
        transform: translateY(110vh);
    }
}

@keyframes upshot {
    0%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(-15vh);
    }
    50%{
        transform: translateY(-60vh);
    }
    75%{
        transform: translateY(-105vh);
    }
    100%{
        transform: translateY(-110vh);
    }
}

@keyframes rightshot {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(15vw);
    }
    50%{
        transform: translateX(60vw);
    }
    75%{
        transform: translateX(105vw);
    }
    100%{
        transform: translateX(110vw);
    }
}

@keyframes leftshot {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-15vw);
    }
    50%{
        transform: translateX(-60vw);
    }
    75%{
        transform: translateX(-105vw);
    }
    100%{
        transform: translateX(-110vw);
    }
}

@keyframes practiceTarget {
    0%{
        transform: translateX(0vw);
    }
    25%{
        transform: translateX(50vw);
    }
    50%{
        transform: translateX(100vw);
    }
    75%{
        transform: translateX(50vw);
    }
    100%{
        transform: translateX(90vw);
    }
}

body{
    background-color: aquamarine;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.target{
    transform: translateX(-50%);
    background-color: purple;
    height: 35px;
    width: 35px;
    animation: practiceTarget 6s linear 1;
}

.player-object{
    position: absolute;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;

}

.player-score{
    position: absolute;
    left: 95vw;
}

.projectile{
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: black;
}

