@keyframes downshot{
    0%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(15vh);
    }
    50%{
        transform: translateY(60vh);
    }
    75%{
        transform: translateY(105vh);
    }
    100%{
        transform: translateY(110vh);
    }
}

@keyframes upshot {
    0%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(-15vh);
    }
    50%{
        transform: translateY(-60vh);
    }
    75%{
        transform: translateY(-105vh);
    }
    100%{
        transform: translateY(-110vh);
    }
}

@keyframes rightshot {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(15vh);
    }
    50%{
        transform: translateX(60vh);
    }
    75%{
        transform: translateX(105vh);
    }
    100%{
        transform: translateX(110vh);
    }
}

@keyframes leftshot {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(15vh);
    }
    50%{
        transform: translateX(60vh);
    }
    75%{
        transform: translateX(105vh);
    }
    100%{
        transform: translateX(110vh);
    }
}

