body{
    font-family: 'Syne Mono', monospace;
    background-color: #BFBFBF;
}

.main-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.columns {
    text-align: center;
}

.button-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
}

a{
    text-decoration: none;
    border: 2px solid gold;
    padding: 12px;
    margin: 1rem;
    color: whitesmoke;
    background-color: navy;
}