@keyframes downshot{
    0%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(15vh);
    }
    50%{
        transform: translateY(45vh);
    }
    75%{
        transform: translateY(80vh);
    }
    100%{
        transform: translateY(110vh);
    }
}

@keyframes upshot {
    0%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(-15vh);
    }
    50%{
        transform: translateY(-45vh);
    }
    75%{
        transform: translateY(-80vh);
    }
    100%{
        transform: translateY(-110vh);
    }
}

@keyframes rightshot {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(15vw);
    }
    50%{
        transform: translateX(45vw);
    }
    75%{
        transform: translateX(80vw);
    }
    100%{
        transform: translateX(110vw);
    }
}

@keyframes leftshot {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-15vw);
    }
    50%{
        transform: translateX(-45vw);
    }
    75%{
        transform: translateX(-80vw);
    }
    100%{
        transform: translateX(-110vw);
    }
}

/*  Depreciated no longer needed
@keyframes practiceTarget {
    0%{
        transform: translate(30vw, 25vh);
    }
    
    100%{
        transform: translate(110vw , 90vh);
    }
}
*/


body{
    background-color: rgb(187, 241, 241);
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Syne Mono', monospace;
    
}

.target{
    position: absolute;
    transform: translate(-150%, -150%);
    background-color: purple;
    height: 35px;
    width: 35px;
    border: 3px solid black;
    border-radius: 10%;
    /*animation: practiceTarget 6s linear 1;*/
}

.player-object{
    
    position: absolute;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 8px solid red;
    border-right: 8px solid yellow;
    border-bottom: 8px solid green;
    border-left: 8px solid purple;
    border-radius: 5%;
}

.player-score{
    position: absolute;
    left: 85vw;
}

.projectile{
    position: fixed;
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 2%;
}

.game-over-init{
    display: none;
}

.game-over-died{
    margin: auto;
    margin-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70vw;
    height: 50vh;
    background-color: cadetblue;
    opacity: 0.8;
    text-align: center;
}

